@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    @apply text-slate-900 dark:text-slate-100;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  button {
    @apply text-white bg-slate-200 hover:bg-slate-300 focus:outline-none 
    focus:ring-slate-100 font-medium rounded-full
     text-sm px-4 py-2 text-center  
    dark:bg-slate-900 dark:hover:bg-slate-800;
  }

  input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .btn-primary {
    @apply text-white bg-green-700 hover:bg-green-800 focus:outline-none 
     focus:ring-green-100 font-medium rounded-full text-sm px-4 py-2  text-center dark:hover:bg-green-700;
  }

  .container {
    @apply max-w-screen-xl mx-auto bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-50;
  }
}
